[submodule "Plantrecognition"]
	path = Plantrecognition
	url = https://github.com/reschma/Plantrecognition.git

	[submodule "esp32_miflora"]
	path = esp32_miflora
	url = https://github.com/Der-Erzfeind/miflora-esp32.git